#block1 {
    width: 150px;
    height: 150px;
    background-color: #FF5733;
    margin: 10px;
}

#block2 {
    width: 150px;
    height: 150px;
    background-color: #33FF57;
    margin: 10px;
}

#block3 {
    width: 150px;
    height: 150px;
    background-color: #3357FF;
    margin: 10px;
}

#block4 {
    width: 150px;
    height: 150px;
    background-color: #FF33A1;
    margin: 10px;
}

#block5 {
    width: 150px;
    height: 150px;
    background-color: #A133FF;
    margin: 10px;
}

#block6 {
    width: 150px;
    height: 150px;
    background-color: #FFBF00;
    margin: 10px;
}

#block7 {
    width: 150px;
    height: 150px;
    background-color: #00FFFF;
    margin: 10px;
}

#block8 {
    width: 150px;
    height: 150px;
    background-color: #FF00FF;
    margin: 10px;
}

#block9 {
    width: 150px;
    height: 150px;
    background-color: #FFFF00;
    margin: 10px;
}

#block10 {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    margin: 10px;
}
